.selected{
    background: #ececec;
}

.typehead-container{
    display: flex;
    align-items: center;
    flex-flow: column;
}

.typehead-input{
    width: 60%;
    height: 30px;
}

.typehead-suggestions{
    width: 60%;
    height: 200px;
    overflow-y: auto;
    padding: 0px;
    border: 1px solid grey;
    border-top: none;
    margin: 0px;
}

.typehead-suggestions-item{
    list-style-type: none;
    padding: 10px;
}
